.grid {
  min-height: 100vh;
  text-align: center;
  font-size: 1.4em;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 8px;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  h1, p {
    font-weight: lighter;
  }
}
nav {
  grid-area: navbar;
}
footer {
  grid-area: footer;
}
// TABS
@media screen and (max-width: 1150px){
  .grid {
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
  }
}
// SD
@media screen and (max-width: 550px){
  .grid {
    font-size: 1.3em;
    grid-template-columns: 1fr 8fr 1fr;
  }
}
