.grid {
  min-height: 100vh;
  display: grid;
  align-content: space-between;
  align-items: center;
  justify-items: center;
  grid-gap: 8px;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  h1 {
    font-weight: 100;
  }
  p {
    font-family: Roboto light;
  }
}
nav {
  grid-area: navbar;
}
footer {
  grid-area: footer;
}
// TABS
@media screen and (max-width: 1260px){
  .grid {
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
  }
}
// SD
@media screen and (max-width: 550px){
  .grid {
    grid-template-columns: 1fr 8fr 1fr;
  }
}
