.gridoffers {
  height: 100vh;
  background-image: asset-url("accueil_bg_33.webp");
  background-position: center;
  background-size: cover;
  text-align: center;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 40px 1fr 1fr 1fr 40px;
    grid-template-rows: 68px 40px 1fr 80px 40px;
    grid-template-areas:
        "navbar navbar navbar navbar navbar"
        ". . . . ."
        ". main . call2 ."
        ". . . . ."
        ". footer footer footer .";
}
nav {
  grid-area: navbar;
  margin-bottom: 20px;
}
.create-offer-btn {
  grid-area: offer-btn;
}
.cards-offers {
  grid-area: cards;
}
@media screen and (max-width: 550px){
  .gridhome {
    height: 100vh;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 8px 1fr 8px;
    grid-template-rows: 110px 0.5fr 1fr 0fr 8px 40px;
    grid-template-areas:
      "navbar navbar navbar"
      ". . ."
      ". call2 ."
      ". main ."
      ". . ."
      ". footer .";
  }
  nav {
    margin-bottom: 40px;
  }
}
