.show {
  grid-template-rows: 56px 5% auto 6fr 1fr 40px;
  grid-template-areas:
    "navbar navbar navbar navbar navbar"
    ". . . . ."
    ". pix . interrest ."
    ". btn btn . ."
    ". booking booking booking ."
    ". footer footer footer .";
}
.offer-pix {
  grid-area: pix;
}
.interrest-box {
  grid-area: interrest;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 4px;
}
.offer-btn-box {
  grid-area: btn;
}
.booking {
  grid-area: booking;
}
//responsive tablettes
@media screen and (max-width: 1150px){
  .show {
    grid-template-rows: 56px 5% 3fr 1fr 3fr 40px;
    grid-template-areas:
      "navbar navbar navbar navbar navbar"
      ". . . . ."
      ". pix . interrest ."
      ". btn btn . ."
      ". booking booking booking ."
      ". footer footer footer.";
  }
}
//responsive smartphones
@media screen and (max-width: 550px){
  .show {
    grid-template-rows: 56px 1fr auto 1fr 1fr 40px;
    grid-template-areas:
      "navbar navbar navbar"
      ". pix ."
      ". interrest ."
      ". btn ."
      ". booking ."
      ". footer .";
  }
}
