.offers {
  background-image: asset-url("accueil_bg_33.webp");
  background-position: center;
  background-size: cover;
  text-align: center;
  grid-template-rows: 56px 20px 1fr auto 40px;
  grid-template-areas:
    "navbar navbar navbar navbar navbar"
    ". . . . ."
    ". btn btn btn ."
    ". cards cards cards ."
    ". footer footer footer.";
}
.create-offer-btn {
  grid-area: btn;
}
.cards-offers {
  grid-area: cards;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
.card-trip {
  max-width: 30vw;
}
// TABS
@media screen and (max-width: 1150px){
  .offers {
    background-position-y: -40px;
    grid-template-areas:
      "navbar navbar navbar navbar navbar"
      ". . . . ."
      ". btn btn btn ."
      ". cards cards cards ."
      ". footer footer footer.";
  }
  .cards-offers {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .card-trip {
    max-width: 44vw;
  }
}
// SD
@media screen and (max-width: 550px){
  .offers {
    grid-template-rows: 56px 5% 1fr auto 40px;
    grid-template-areas:
      "navbar navbar navbar"
      ". . ."
      ". btn ."
      ". cards ."
      ". footer .";
  }
  .cards-offers {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .card-trip {
    max-width: 80vw;
  }
}
