.home {
  background-image: asset-url("accueil_bg.webp");
  background-position: center;
  background-size: cover;
  text-align: center;
  grid-template-rows: 56px 5% 1fr 80px 40px;
  grid-template-areas:
    "navbar navbar navbar navbar navbar"
    ". . . . ."
    ". main . call2 ."
    ". . . . ."
    ". footer footer footer .";
}
main {
  grid-area: main;
  color: $white;
  background: linear-gradient(90deg, #00b5d1de, #00b5d1d1 100%);
  padding: 8px 12px;
  border-radius: 8px;
}
#call2grid {
  grid-area: call2;
  h1 {
    color: $white;
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
    text-shadow: #0072b78c 1px 0 14px;
  }
  .jingle {
    color: $white;
    background: linear-gradient(90deg, #00b5d1de, #00b5d1d1 100%);
    padding: 8px 12px;
    border-radius: 8px;
  }
}
// // TABS
@media screen and (max-width: 1260px){
  .home {
    grid-template-rows: 56px 5% 1fr 40px;
    grid-template-areas:
      "navbar navbar navbar navbar navbar"
      ". . . . ."
      ". main . call2."
      ". footer footer footer.";
  }
}
// SD
@media screen and (max-width: 550px){
  .home {
    font-size: 1.3em;
    background-image: asset-url("accueil_bg_sd.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 56px;
    background-size: 550px;
    grid-template-rows: 56px 232px 2fr 3fr 40px;
      grid-template-areas:
        "navbar navbar navbar"
        ". . ."
        ". call2 ."
        ". main ."
        ". footer .";
  }
  main {
    text-align: center;
    padding: 12px 12px 0;
  }
  #call2grid {
    h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
}
