.show {
  grid-column-gap: 20px;
    grid-template-areas:
    "navbar navbar navbar navbar navbar"
    ". title . . ."
    ". pix interrest booking ."
    ". btn . . ."
    ". footer footer footer .";
}
.titleshow {
  grid-area: title;
  height: 0px;
  gap: 0.5rem;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  h2 {
    font-weight: 100;
  }
  h3 {
    color: $purple;
    font-weight: 400;
  }
  .bold {
    color: $purple;
    font-weight: bold;
  }
  .priceshow {
    .gapprice {
      gap: 0.3rem;
      display: flex;
      align-items: baseline;
    }
    display: flex;
    align-items: baseline;
  }
}
.offer-pix {
  grid-area: pix;
}
.interrest-box {
  grid-area: interrest;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 4px;
}
.offer-btn-box {
  grid-area: btn;
  width: max-content;
}
.book {
  grid-area: booking;
}
//TABS
@media screen and (max-width: 1150px){
  .show {
    // grid-template-rows: 56px 5% 3fr 1fr 3fr 40px;
    grid-template-areas:
      "navbar navbar navbar navbar navbar"
      ". . . . ."
      ". pix . interrest ."
      ". btn btn . ."
      ". booking booking booking ."
      ". footer footer footer.";
  }
}
//SD
@media screen and (max-width: 550px){
  .show {
    // grid-template-rows: 56px 1fr auto 1fr 1fr 40px;
    grid-template-areas:
      "navbar navbar navbar"
      ". pix ."
      ". interrest ."
      ". btn ."
      ". booking ."
      ". footer .";
  }
}
