.show {
  margin-top: 40px;
  background-image: asset-url("accueil_bg_33.webp");
  background-position: center;
  background-size: cover;
  // grid-column-gap: 20px;
  grid-gap: 20px;
  align-items: center;
  justify-items: start;
  grid-template-areas:
  "navbar navbar navbar navbar navbar"
  ". title title title ."
  ". pix interrest . ."
  ". btn btn btn ."
  ". booktitle . . ."
  ". booking booking booking ."
  ". footer footer footer .";
}
.titleshow {
  grid-area: title;
  width: -webkit-fill-available;
  margin-top: 60px;
  margin-bottom: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  gap: 0.5rem;
  .priceshow {
    display: flex;
    gap: 0.3rem;
    align-items: baseline;
  }
  .gapprice {
    display: flex;
    align-items: baseline;
  }
}
.offer-pix {
  grid-area: pix;
  // height: -webkit-fill-available;
  // width: -webkit-fill-available;
}
.show-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.interrest-box {
  grid-area: interrest;
  text-align: center;
  width: -webkit-fill-available;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  line-height: 0;
}
.interrest {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  padding-bottom: 16px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.offer-btn-box {
  grid-area: btn;
  text-align: center;
  width: -webkit-fill-available;
  margin-bottom: 20px;
}
.booktitle {
  grid-area: booktitle;
}
.bookings {
  grid-area: booking;
}
.book {
  gap: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  margin-bottom: 20px;
}
.nobookings {
  background: white;
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
}
.lineflex {
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 4px;
}
.bookinfos {
  height: -webkit-fill-available;
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 0 20px 20px;
  font-size: 0.9em;
}
.cancelb {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
}
//TAB L
@media screen and (max-width: 1260px){
  .show {
    align-items: center;
    grid-template-areas:
    "navbar navbar navbar navbar navbar"
    ". title title title ."
    ". pix interrest interrest ."
    ". btn btn btn ."
    ". booktitle . . ."
    ". booking booking booking ."
    ". footer footer footer .";
  }
  .titleshow {
    margin-top: 60px;
    margin-bottom: 0;
  }
  .booktitle {
    grid-area: booktitle;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 0;
  }
  .book {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 900px){
  .show {
    grid-template-columns: 1fr 8fr 1fr;
    justify-items: center;
    grid-template-areas:
    "navbar navbar navbar"
    "title title title"
    ". pix ."
    ". btn ."
    ". interrest ."
    ". booktitle."
    ". booking ."
    ". footer .";
    gap: 20px;
  }
  .offer-pix {
    grid-area: pix;
  }
  .show-img {
    aspect-ratio: 2.2/1;
  }
  .titleshow {
    margin-top: 40px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .interrest-box {
    width: 50vw;
  }
  .offer-btn-box {
    display: grid;
    width: unset;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
  }
  .booktitle {
    grid-area: booktitle;
    text-align: center;
    width: -webkit-fill-available;
  }
  .book {
    display: grid;
    grid-template-columns: 1fr;
    width: 50vw;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 550px){
  .offer-pix {
    grid-area: pix;
    width: 90vw;
  }
  .show-img {
    width: 100%;
    aspect-ratio: 2.2/1;
  }
  .interrest-box {
    width: 90vw;
  }
  .offer-btn-box {
    display: grid;
    width: unset;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
  .book {
    display: grid;
    grid-template-columns: 1fr;
    width: 90vw;
    margin-bottom: 20px;
  }
}
