.offers {
  background-image: asset-url("accueil_bg_33.webp");
  background-position: center;
  background-size: cover;
  display: grid;
  grid-row-gap: 20px;
  grid-template-areas:
    "navbar navbar navbar navbar navbar"
    ". . . . ."
    ". btn btn btn ."
    ". . . . ."
    ". cards cards cards ."
    ". . . . ."
    ". footer footer footer.";
}
.create-offer-btn {
  grid-area: btn;
}
.cards-offers {
  padding: 0;
  grid-area: cards;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 24px;
}
.card-trip {
  max-width: 30vw;
}
// TABS
@media screen and (max-width: 1260px){
  .offers {
    grid-template-areas:
      "navbar navbar navbar navbar navbar"
      ". . . . ."
      ". btn btn btn ."
      ". cards cards cards ."
      ". footer footer footer.";
  }
  .cards-offers {
    grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    max-width: 44vw;
  }
}
// SD
@media screen and (max-width: 550px){
  .offers {
    grid-template-areas:
      "navbar navbar navbar"
      ". . ."
      ". btn ."
      ". cards ."
      ". footer .";
  }
  .cards-offers {
    grid-template-columns: 1fr;
  }
  .card-trip {
    max-width: 80vw;
  }
}
