// Import page-specific CSS files here.
@import "home";

.index-container {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  list-style: none;
}

.cards-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 15px;
}
.cards-index a {
text-decoration-line: none;
text-align: center;

color:black
}



.div1 { grid-area: 1 / 1 / 3 / 4; }
