.image {
  border-radius: 6px;
  width: 450px;
  height: 320px;
  background-position: center;
  background-size: cover;
}
.interrest {
  background-color: rgba(238, 241, 243, 0.142);
  border-radius: 10px;
  text-align: center;
  // width: 100px;
  // height: 100px;
  display: flex;
  // align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  // flex-wrap: wrap;
  // align-content: center;
}
  // .show-container {
  //   width: 800px;
  //   margin-top: 20px;
  //   padding: 20px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  // }
