.show-img {
  border-radius: 6px;
  width: 450px;
  height: 308px;
  background-position: center;
  object-fit: cover;
}
.interrest {
  height: 100px;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 18px;
  justify-content: center;
}
