<%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: true,
                              order: [:month, :year] %>

<div class="container">
  <%= simple_form_for booking do |f| %>
    <h3>Choose your interests please :</h3>
    <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: true,
                              order: [:month, :year] %>
    <br>
    <br>
    <span><%= f.submit %></span>
  <% end %>
</div>
