<div class=gridhome>
  <%= render "shared/navbar" %>
  <main>
    <p>Visit a country and find the points where you are interested in.
    Enjoy the concept of a culture landscape.
    This is a magnifique web site to rent others lives.
    You decide what life you want to be during a court period of time.
    You are your Avatar.</p>
  </main>
  <div id="call2grid" >
    <h1>Live your<br>Culture</h1>
    <p class="jingle">Rent a culture, save time and money to enjoy your next trip!</p>
    <%= link_to "Book an Offer", offers_path, class: "btn btn-call2"  %>
  </div>
  <%= render "shared/footer" %>
</div>
