<div class=container></div>
<div class="banner" >
  <div class="container"  >
    <div class="text">
      <h1><strong>Vis Ta Culture</strong></h1>
      <p>Visit a country and find the points where you aire interested in. Enjoy the concept of a culture landscape.
      This is a magnifique web site to rent others lives.  You decide what life you want to be during a court period of time. You are your Avatar.
    </p>
    </div>
    <div>

      <%= link_to "Search for un offer", offers_path, class: "btn btn-primary"  %>

    </div>

    <%# <div class=name  hp_img='/app/assets/images/VTC_accueil_img.png'> %>
    </div>
  </div>

  <%# <div class=cards>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</div> %>

<%# </div>
<div class=text>
<div calss=name hp_img importer backgroung image>
</div>
</div>
dix display row
<div class="banner"
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div> %>
