
<div class="banner">
  <div class="container">
      <h1><strong>Vis Ta Culture</strong></h1>
      <p> Culture features is what yous are looking for ? This is a magnifique web site to rent others lives. There are many countries to choose: Do you like eating ?
    Do you Love travellling but you doesn't love cats ? We really loves cats, but we undertand, not everybody is "Pet-friendly". So here is the solution, you choose your features.
    You decide what life you want to be during a court period of time. You are your Avatar.
    </p>
      <a class="btn btn-flat" href="#">  <h1>Offers</h1>
    </a>
  </div>

  <div class=cards>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</div>
