<div class=container></div>
<div class="banner" >
  <div class="container"  >
    <div class="text">
      <h1>Vis ta Culture</h1>
      <p class="p-banner">Visit a country and find the points where you aire interested in. Enjoy the concept of a culture landscape.
      This is a magnifique web site to rent others lives.  You decide what life you want to be during a court period of time. You are your Avatar.</p>
    </div>
    <div>

      <%= link_to "See our offers", offers_path, class: "btn btn-flat"  %>

      </div>
    </div>
  </div>
