<div class=gridhome>
  <%= render "shared/navbar", id:"navgrid" %>
  <main>
    <p>Visit a country and find the points where you are interested in.
    Enjoy the concept of a culture landscape.
    This is a magnifique web site to rent others lives.
    You decide what life you want to be during a court period of time.
    You are your Avatar.</p>
  </main>
  <div id="call2agrid" >
    <h1>Vis ta Culture</h1>
    <%= link_to "See our offers", offers_path, class: "btn btn-flat"  %>
  </div>
  <footer>
    <h4>FOOTER</h4>
  <footer>
</div>
