<div class="grid fcreate">
  <%= render "shared/navbar" %>

  <h1 class="titlebook">Modify your offer</h1>
  <%= render "form", offer: @offer %>
  <div class="back">
    <%= link_to "< Offer", offer_path(@offer), class: "btn btn-book" %>
  </div>

  <%= render "shared/footer" %>
</div>
