<div class="container index-container">
  <h1> All the offers </h1>

  <ul>
    <% @offers.each do |offer|  %>
      <li><%= offer.country %>
      <br>
      <%= link_to offer.city, offer_path(offer) %></li>
    <% end  %>
  </ul>
  <br>
  <%= link_to "Create an offer", new_offer_path  %>
</div>
