<div class="grid fcreate">
  <%= render "shared/navbar" %>
  <div class="titlebook">
    <h1 class="lighttitle">Create your offer</h1>
  </div>

  <div class="formbook">
    <%= render "form", offer: @offer %>
  </div>
  <%= link_to "< Offers", offers_path, class: "btn btn-book" %>

  <%= render "shared/footer" %>
</div>
