<div class="formbook">
  <%= render "shared/navbar" %>
  <div class="titlebook">
    <h1 class="lighttitle">Create your offer</h1>
  </div>

  <div class="formbook">
    <%= render "form", offer: @offer %>
  </div>

  <%= render "shared/footer" %>
</div>
