.banner {
  background-image: url("VTC_accueil_img.png");
  background-size: cover;
  background-position: center;
  padding: 150px 0px ;
}

.banner h1 {
  margin: 0;
  color: rgb(57, 123, 126);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: start;
  padding: 10px 0px;
}

.banner p {
  font-size: 20px;
  color: rgb(192, 122, 36);
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: start;
  padding: 20px 0px;
}
