.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.btn-ghost:hover {
  opacity: 1;
}
.btn-flat {
  width: 110px;
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $purple;
  transition: 0.3s ease;
}
.btn-flat:hover {
  background: $pink;
  color: $white;
}
.flex-new-btn {
display: flex;
justify-content: center;
}
.btn-call2 {
  color: $white;
  background: $pink;
  width: max-content;
  padding: 8px 24px;
  border-radius: 4px;
  transition: 0.3s ease;
}
.btn-call2:hover {
  color: $purple;
  background: $acid;
}
.btn-book {
  width: 110px;
  padding: 8px 24px;
  color: $white;
  background: $green;
  border-radius: 4px;
  transition: 0.3s ease;
}
.btn-book:hover {
  color: $purple;
  background: $acid;
}
.btn-booknow {
  color: $white;
  background: $green;
  width: max-content;
  border-radius: 4px;
  transition: 0.3s ease;
}
.btn-booknow:hover {
  color: $purple;
  background: $acid;
}
