.card-trip {
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-bottom: 20px;
  margin: 12px;
  border-radius: 10px;
}
.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom: 0px;
}
.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  text-decoration: none;
}
.card-trip p {
  font-size: 12px;
  opacity: .7;
  text-align: center;
  margin: 12px;
}
.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: center;
  position: relative;
}
.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  text-align: center;
}
