.card-trip {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  img {
    height: 240px;
    object-fit: cover;
  }
  .capitale {
    color: $purple;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }
}
.card-trip-infos {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.trip-details {
  display: flex;
  gap: 4px;
}
.ville-pays {
  display: flex;
  gap: 8px;
}
.card-price {
color: $purple;}
