footer {
  background: linear-gradient(90deg, #6f00ff00, #6f00ff, #c200ff, #ff00cc, #ff00cc00 100%);
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  h5 {
    color: $white;
    font-weight: 100;
  }
}
