footer {
  background: linear-gradient(90deg, #6f00ff00, #6f00ff, #c200ff, #ff00cc, #ff00cc00 100%);
  width: 100%;
  h5 {
    color: $white;
    font-weight: 100;
  }
}
.foot {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
