.navbar-lewagon {
  top: -20px;
  height: 60px;
  justify-content: space-between;
  background: linear-gradient(90deg, rgb(111, 0, 255), rgb(255, 0, 204) 100%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 240px;
}

.logo {
  position: absolute;
  top: -10px;
}
