.navbar-vtc {
  background: linear-gradient(90deg, rgb(111, 0, 255), rgb(255, 0, 204) 100%);
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  .menu {
    margin: 0;
    padding: 0;
  }
  .logo {
    position: absolute;
    left: 0px;
    top: -40px;
  }
  .navig {
    padding-right: 16px;
    color: $white;
    font-family: roboto light;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .nav-link {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 550px){
  .navbar-vtc {
    align-items: flex-end;
    .logo {
      height: 140px;
      position: absolute;
      left: -34px;
      top: -24px;
    }
    .navig {
      padding-right: 12px;
      letter-spacing: 0px;
      gap: 10px;
    }
  }
}
