h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Light;
  color: $purple;
}
.lighttitle {
  padding-top: 20px;
  text-align: center;
}
.regutitle {
  padding-top: 20px;
  text-align: center;
  color: $purple;
}
.oform {
  color: $purple;
  text-transform: uppercase;
}
.formpix {
  color: $purple;
  text-transform: uppercase;
}
.bold {
  font-family: Roboto;
}
