.lighttitle {
  padding-top: 20px;
  text-align: center;
  color: $purple;
  font-family: Roboto Light;
}
.regutitle {
  padding-top: 20px;
  text-align: center;
  color: $purple;
  font-weight: 400;
}
.oform {
  color: $white;
  text-transform: uppercase;
}
.formpix {
  color: $purple;
  text-transform: uppercase;
}
