h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Light;
  color: $purple;
}
.lighttitle {
  padding-top: 20px;
  text-align: center;
}
.regutitle {
  padding-top: 20px;
  text-align: center;
  color: $purple;
}
.oform {
  color: $purple;
  text-transform: uppercase;
}
.formpix {
  color: $purple;
  text-transform: uppercase;
}
.bold {
  font-family: Roboto;
  font-weight:500;
  line-height: initial;
}
i {
  font-size: 1.6em;
  color: $purple;
  margin: 18px 0;
}
